# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners are the default owners for everything in
# the repository. Unless a later match takes precedence,
# they are requested to perform reviews when someone opens a pull request.
*   @ansys-internal/pyworkbench-dev

# Documentation review is also required from the Docs team on the following set of files:
*.rst    @PipKat @ansys-internal/pyworkbench-dev
